<div class="direct-chat-msg right">
  <div class="direct-chat-info clearfix">
    <span class="direct-chat-timestamp pull-left">23 Jan 2:05 pm</span>
  </div>
  <!-- /.direct-chat-info -->
  <img class="direct-chat-img" src="https://bootdey.com/img/Content/user_2.jpg" alt="Message User Image"><!-- /.direct-chat-img -->
  <div class="direct-chat-text">
    You better believe it!
  </div>
  <!-- /.direct-chat-text -->
</div>