<div class="direct-chat-msg">
  <div class="direct-chat-info clearfix">
    <span class="direct-chat-timestamp pull-right">23 Jan 2:00 pm</span>
  </div>
  <!-- /.direct-chat-info -->
  <img class="direct-chat-img" src="https://bootdey.com/img/Content/user_1.jpg" alt="Message User Image"><!-- /.direct-chat-img -->
  <div class="direct-chat-text">
    Is this template really for free? That's unbelievable!
  </div>
  <!-- /.direct-chat-text -->
</div>